---
title: IZAS - Joueur
---
<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>IZAS - Joueur</title>
    <link rel="icon" href="../img/favicon.png">
    <link rel="stylesheet" href="../styles/style.css">
    <link rel="stylesheet" href="../styles/die.css">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/split.js/1.6.0/split.min.js"></script>
    <script type="module" src="../scripts/mapUtils.js"></script>
    <script type="module" src="../scripts/die.js"></script>
    <script type="module" src="./pj.js"></script>
  </head>
  <body>
    {% include header.html title=page.title %}
    {% include party-info.html player_label="Vous :" readonly=true %}
    <div id="contents">
      <div id="map"></div>
      <div id="pano"></div>
      {% include right-panel.html player_label="Vous :" readonly=true %}
    </div>

    <!--
      The `defer` attribute causes the callback to execute after the full HTML
      document has been parsed. For non-blocking uses, avoiding race conditions,
      and consistent behavior across browsers, consider loading using Promises.
      See https://developers.google.com/maps/documentation/javascript/load-maps-js-api
      for more information.
      -->
    <script
      src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCJevSj89wDoaoxPWJ7K0mHz7RFdZ1fyw0&callback=initialize&v=weekly"
      defer
    ></script>
  </body>
</html>
