html,
body {
    height: 98%;
    width: 98%;
    margin: 0;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1, h2{
    font-weight: 400;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

.flex_row_centered {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_row_centered * {
    margin-left: 10px;
    margin-right: 10px;
}

.flex_column_centered {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#header {
    height: 10%;
    width: 100%;
}

#party-info {
    height: 1.5%;
    width: 100%;
    margin: 0.25%;
}

#map,
#pano {
    float: left;
    height: 88%;
    width: 50%;
}

#pano-pj {
    height: 88%;
    width: 100%;
}

#places-input,
#recenter-input{
    margin:10px;
}

#places-input{
    width:50%;
}
