html,
body {
    height: 98%;
    width: 98%;
    margin: 0;
    padding-left: 1%;
    padding-right: 1%;
}

body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1, h2{
    font-weight: 400;
}

table {
    margin-left: auto;
    margin-right: auto;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

#header {
    height: 10%;
    width: 100%;
}

#map,
#pano {
    float: left;
    height: 90%;
    width: 50%;
}

#pano-pj {
    height: 90%;
    width: 100%;
}
