html,
body {
    height: 98%;
    width: 98%;
    margin: 0;
    padding: 0;
    padding-left: 1%;
    padding-right: 1%;
}

body{
    background-color: lightblue;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* TEXT STYLING */

p{
    text-align: justify;
}

h1{
    text-align: center;
}

h1, h2{
    font-weight: 400;
}

/* ICON STYLING */

.l-icon {
    width: 50px;
    height: 50px;
}

.s-icon {
    width: 25px;
    height: 25px;
}

.flipped {
    -webkit-transform: scaleX(-1);
    transform: scaleX(-1);
}

/* FLEX STYLING */

.flex_row_centered {
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.flex_row_sbetween {
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.flex_row_centered * {
    margin-left: 5px;
    margin-right: 5px;
}

.flex_column_centered {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* INPUT STYLING */

input[readonly] {
    color:grey;
    -moz-appearance: textfield;
}

input[type=number] {
    border: solid 1px;
    border-radius: 4px;
    width: 2em;
    text-align: center;
}

select[disabled] {
    border: black;
}

select {
    width: 8em;
    text-align: justify;
    border: solid black 1px;
    border-radius: 4px;
}

select[id="player-job"] {
    width: 20em;
}

/* Split.js's gutter STYLING */

.gutter {
  background-color: #eee;
  background-repeat: no-repeat;
  background-position: 50%;
}

.gutter.gutter-horizontal {
  cursor: col-resize;
  background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==");
}

/* MAIN PART STYLING */

#header {
    height: 10%;
    width: 100%;
}

#party-info {
    height: 2%;
    width: 100%;
    margin: 0.5%;
}

#maps {
    display: flex;
    flex-direction: row;
    height: 87%;
    width: 100%;
}

#map,
#pano {
    height: 100%;
}

/* MAPS CONTROLS STYLING */

#maps-control {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-top: 10px;
    width: 99%;
    display:flex;
    flex-direction: row;
    justify-content: center;
}

#options-control {
    margin-left: 0.5%;
    margin-right: 0.5%;
    margin-bottom: 10px;
    width: 99%;
    display:flex;
    flex-direction: column;
    justify-content: left;
}

#places-control{
    min-width: 300px;
}
